@use '@angular/material' as mat;
@import 'src/scss/palette';
@import 'src/scss/utils/mixins';

.card-list {
  @include gap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

  &--min-width-lg {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  }
}

.card {
  @include container-border-radius-sm;
  @include shadow-1;
  @include padding-sm;
  @include column;

  justify-content: space-between;
  background-color: white;

  // Card header icon
  &__icon {
    @include primary-color(800);
    font-size: 2rem;
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      background-color: mat.get-color-from-palette($app-grey, 100);
    }
  }

  &--min-height-md {
    min-height: 10rem;
  }

  &--min-height-sm {
    min-height: 7rem;
  }

  &--dark {
    @include primary-background(500);
    color: $white;

    &:hover {
      @include primary-background(500);
      opacity: 0.8;
    }
  }
}
