@import "../../scss/mixins";

mat-toolbar {
  width: 100%;
  height: fit-content;
  gap: 10px;
  padding: 0.5em;


  span {
    flex: 1;
    @include dark-blue;
  }
}

mat-toolbar span {
  font-size: 2.5rem; /* Default font size for larger screens */
}

/* Adjust the font size for smaller screens */
@media screen and (max-width: 767px) {
  mat-toolbar span {
    font-size: 1.8rem;
  }
}
/* Adjust the font size for smaller screens */
@media screen and (max-width: 350px) {
  mat-toolbar span {
    font-size: 1.5rem;
  }
}
