.questionnaire {
  margin-top: 1em; // To show the chip
  width: fit-content;
  height: 10rem;
  padding: 1em 1.5em;

  &__chip {
    position: absolute;
    top: -1em;
    left: 7em;
    z-index: 1;

  }

  &__icon {
    font-size: 76px;
    overflow: visible;
    width: 76px;
    height: 76px;
  }

  &__title {
    width: 8.75em;
    text-align: center;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
