:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 25rem;
  width: 100%;
  padding: 20px;
  margin: 20px;
  gap: 2em;
}
.choose_login{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 20px;
  gap: 2rem;

  mat-card {
    padding: 1em;
  }
}

mat-icon {
  font-size: 2.5rem;
  width: fit-content;
  height: auto;
}
