/* For use in src/lib/core/theming/_palette.scss */
$tfg-palette-primary: (
    50 : #e9f8fc,
    100 : #c9edf6,
    200 : #a5e2f1,
    300 : #80d6eb,
    400 : #65cde6,
    500 : #4ac4e2,
    600 : #43bedf,
    700 : #3ab6da,
    800 : #32afd6,
    900 : #22a2cf,
    A100 : #ffffff,
    A200 : #d5f3ff,
    A400 : #a2e5ff,
    A700 : #89deff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$tfg-palette-accent: (
    50 : #fcede9,
    100 : #f6d2c9,
    200 : #f1b4a5,
    300 : #eb9580,
    400 : #e67f65,
    500 : #e2684a,
    600 : #df6043,
    700 : #da553a,
    800 : #d64b32,
    900 : #cf3a22,
    A100 : #ffffff,
    A200 : #ffdad5,
    A400 : #ffada2,
    A700 : #ff9789,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

