table {
  width: 100%;
}

.table__user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  td {
    max-width: 5rem;
  }
}
.element-detail {
  overflow: auto;
  display: flex;
  height: fit-content;
  gap: 1em;
}
tr.detail-row {
  height: 0;
}
.element-row td {
  border-bottom-width: 0;
}
