<mat-form-field>
  <mat-label>Buscador</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. xxx@domain.com" #input>
</mat-form-field>
<div class="mat-elevation-z8 table__user" *ngIf="displayedColumns">

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th fxHide.lt-sm mat-header-cell *matHeaderCellDef>Nombre
      </th>
      <td fxHide.lt-sm mat-cell
          *matCellDef="let element"> {{element.last_name ? element.name + ' ' + element.last_name : element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        <app-chip-user-status [status]="element.status"></app-chip-user-status>
      </td>
    </ng-container>
    <ng-container matColumnDef="rol">
      <th mat-header-cell fxHide.lt-sm *matHeaderCellDef>Roles</th>
      <td mat-cell fxHide.lt-sm *matCellDef="let element"> {{element.rol}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th fxHide.lt-sm mat-header-cell *matHeaderCellDef></th>
      <td fxHide.lt-sm mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="deleteUser(element)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="element-detail"
             [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
          <app-questionnaire-card *ngFor="let assignment of assignments"
            [questionnaireId]="assignment.idQuestionnaire" [status]="assignment.status">
          </app-questionnaire-card>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let user; columns: displayedColumns;"
      class="element-row"
      [class.expanded-row]="expandedElement === user"
      (click)="expandUser(user)">
    >

    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    (page)="getUsers(this.rol)"
    showFirstLastButtons
    aria-label="Select page of users">
  </mat-paginator>
</div>
