<div class="card fit-content">
  <form novalidate [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout="column">
      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'LoginComponent.Email' | translate }}"
          type="email"
          formControlName="email"
          name="email"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="{{ 'LoginComponent.Password' | translate }}"
          type="password"
          formControlName="password"
          name="password"
          required
        />
      </mat-form-field>

      <span fxFlexAlign="stretch">
      <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">
        {{ 'LoginComponent.Login' | translate }}
      </button>
    </span>
    </div>
  </form>
</div>
