<p>{{ question?.content }}</p>

<mat-form-field *ngIf="type !== QuestionType.YesNo">
  <input matInput *ngIf="type === QuestionType.Text" placeholder="Escribe aquí" [(ngModel)]="answer">
  <mat-select *ngIf="type === QuestionType.Multiple" [(ngModel)]="answer">
    <mat-option *ngFor="let option of options" [value]="option">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>

<mat-button-toggle-group *ngIf="type === QuestionType.YesNo" [(ngModel)]="answer">
  <mat-button-toggle *ngFor="let option of options" [value]="option">{{ option }}</mat-button-toggle>
</mat-button-toggle-group>

