<h5>{{module?.title}}</h5>
<div class="questions_container">
  <app-question *ngFor="let question of displayedQuestions" [question]="question"
                [assignment]="assignment"></app-question>
</div>
<p *ngIf="!questions.length"> No se han encontrado preguntas </p>
<mat-paginator #paginator
               class="questions_paginator"
               [length]="questions.length"
               [pageSize]="pageSize"
               [showFirstLastButtons]="false"
               [pageSizeOptions]="[]"
               [hidePageSize]="true"
               [pageIndex]="pageIndex"
>

</mat-paginator>



<button mat-stroked-button matStepperNext *ngIf="!isLastModule">Siguiente bloque</button>
<button mat-raised-button color="primary" *ngIf="isLastModule" (click)="finishAssignment()"
        [disabled]="assignment?.status === 'finished'">Finalizar
</button>


