<app-nav-bar></app-nav-bar>
<div class="background-img">
  <h2 class="margin-top">Bienvenido a PSICOSALUD,<br>
    Tu aliado digital para mejorar tu salud mental
  </h2>
  <p>
    Olvídate de largas esperas y citas interminables.<br>

    PsicoSalud nace de la necesidad de agilizar el proceso de asistencia y derivación a especialistas en salud mental.
  </p>
  <div class="more-info" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.lt-md="center center">
    <h3>¿Necesitas saber más?</h3>
    <button mat-raised-button color="primary">Obtener más información</button>
  </div>
</div>
