<app-nav-bar></app-nav-bar>
<main fxLayout="row" fxLayout.lt-sm="column">
  <aside fxLayout="column" fxLayoutAlign="none start" fxLayoutGap="20" fxLayoutGap.lt-sm="5"
         fxLayoutAlign.lt-sm="space-around none" fxLayout.lt-sm="row" fxFlex.gt-sm="15">
    <button mat-button fxLayout="row" [ngClass]="{'selected-button': selectedButtonIndex === 'Inicio'}"
            (click)="selectButton('Inicio')">
      <mat-icon>home</mat-icon>
      <span fxHide.lt-sm>Inicio</span>
    </button>
    <button mat-button fxLayout="row" [ngClass]="{'selected-button': selectedButtonIndex === 'Usuarios'}"
            (click)="selectButton('Usuarios')">
      <mat-icon>people</mat-icon>
      <span fxHide.lt-sm>Usuarios</span>
    </button>
    <button mat-button fxLayout="row" [ngClass]="{'selected-button': selectedButtonIndex === 'Cuestionarios'}"
            (click)="selectButton('Cuestionarios')">
      <mat-icon>assignment</mat-icon>
      <span fxHide.lt-sm>Cuestionarios</span>
    </button>
    <button mat-button fxLayout="row" [ngClass]="{'selected-button': selectedButtonIndex === 'Modulos'}"
            (click)="selectButton('Modulos')">
      <mat-icon>extension</mat-icon>
      <span fxHide.lt-sm>Modulos</span>
    </button>
    <button fxHide.lt-sm mat-button fxLayout="row" color="warn" fxFlexAlign="center" class="logout" (click)="logOut()"
            routerLink="/">
      <mat-icon>exit_to_app</mat-icon>
      <span fxHide.lt-sm>Cerrar sesión</span>
    </button>
  </aside>

  <mat-divider fxHide.lt-sm [vertical]="true"></mat-divider>
  <mat-divider fxShow.lt-sm></mat-divider>
  <section class="main" fxFlex>
    <div *ngIf="selectedButtonIndex === 'Usuarios'">
      <app-invite-user></app-invite-user>
      <section *ngIf="rol==='Administrador'">
        <h3>Lista de peticiones</h3>
        Como Admin, aceptar o rechazar solicitudes de nuevos doctores/admins
      </section>

      <h3 *ngIf="rol==='Doctor'" [matTooltip]="'Listado de pacientes que se han tratado'">Mis pacientes</h3>
      <h3 *ngIf="rol==='Administrador'">Lista de usuarios</h3>
      <br>
      <app-table-users [rol]="rol"></app-table-users>

      <h3 *ngIf="rol==='Doctor'">Buscar usuario</h3>

      <mat-divider></mat-divider>



    </div>
    <div *ngIf="selectedButtonIndex === 'Cuestionarios'">
      Mostrar todos los cuestionarios creados ordenados por fecha, si se selecciona uno muestra los modulos que contiene
    </div>
    <div *ngIf="selectedButtonIndex === 'Modulos'">
      Muesta todos los modulos creados ordenados por fecha, si se selecciona uno muestra las preguntas que contiene
    </div>


  </section>
  <mat-divider fxHide.lt-md [vertical]="true"></mat-divider>

  <div fxHide.lt-md class="calendar" fxFlex="15em">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar></mat-calendar>
    </mat-card>
  </div>
</main>
