@use '@angular/material' as mat;

@include mat.core();

/**
  * Basic palette
  *
  * Default palettes are available at https://material.io/design/color/
  *
  * You can create a custom palette at http://mcg.mbitson.com/
  *
  * To determine the contrast color go to https://toolness.github.io/accessible-color-matrix/
  *
*/

/*
 * Variables used in palette
 */
$tfg-palette-primary: (
  50 : #e2f0f2,
  100 : #b7d9df,
  200 : #87bfca,
  300 : #56a5b4,
  400 : #3292a4,
  500 : #0e7f94,
  600 : #0c778c,
  700 : #0a6c81,
  800 : #086277,
  900 : #044f65,
  A100 : #95e3ff,
  A200 : #62d6ff,
  A400 : #2fc9ff,
  A700 : #15c2ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-primary: mat.define-palette($tfg-palette-primary, 500, 100, 700);
$app-accent: mat.define-palette(mat.$teal-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$red-palette, 500, 100, 700);
