@use '@angular/material' as mat;
//Import custom components
@import 'components/cards';

html,
body {
  @include grey-color(800); // Default text color
  height: 100%;
  margin: 0;
  background-color: mat.get-color-from-palette($app-grey, 50);
}

/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}
