@use '@angular/material' as mat;
@import 'theme.scss';
@import 'utils/mixins';



html,
body {
  @include grey-color(800); // Default text color
  height: 100%;
  margin: 0;
  background-color: mat.get-color-from-palette($app-grey, 50);
}
.center{
  @include center;
}
.fit-content{
  @include fit-content;
}
.gap{
  @include gap;
}
.gap-lg{
  @include gap-lg;
}

/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Open Sans', sans-serif;
}
