.landing_card {
  max-width: 30rem;
  max-height: 40rem;
  margin: 3rem;
  mat-card-title {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 800;
  }
}
img {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 768px) {
  img {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  img {
    max-width: 300px;
  }
}

.landing_title {
  font-family: system-ui;
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(90deg, #4ac4e2, #e2684a);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: changeColor;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes changeColor {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
