:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background-img {
  height: 100%;
  margin: 1em;
  background-image: url("/assets/imgs/undraw_survey.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media screen and (min-width: 768px) {
  .background-img {
    margin: 2em;
    background-size: 45%;
  }
}

@media screen and (max-height: 500px) {
  .background-img {
    background-image: unset;
  }
}
