:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.background-img {
  height: 100%;
  margin: 1em;
  background-image: url("/assets/imgs/undraw_survey.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media screen and (min-width: 1200px) {
  .background-img {
    margin: 2em;
    background-size: 50%;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .background-img {
    margin: 2em;
    background-size: contain;
  }
}


@media screen and (max-height: 500px) {

  .background-img {
    margin: 0;
    background-image: unset;
  }
}

mat-card {
  width: 100%;
  padding: 1em;

  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    max-width: 550px;
  }

  .scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: .5em;
    width: 100%;

    .questionnaire {
      margin-bottom: .1em;
      flex: 0 0 auto;
    }
  }
}



