<!--https://codepen.io/piyushpd139/pen/gOYvZPG-->

<app-nav-bar></app-nav-bar>

<mat-card class="landing_card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="landing_title">PsicoSalud</mat-card-title>
      <mat-card-subtitle
        >Psicosalud es una plataforma en línea que ofrece formularios
        psiquiátricos para ayudar a realizar diagnósticos precisos de pacientes.
        Accede a nuestras herramientas ahora.
      </mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
</mat-card>
<img src="assets/imgs/undraw_survey.svg" />
