<mat-card class="login gap">
  <button  *ngIf="!token" class="card__back_button" mat-icon-button color="primary" aria-label="Back button" routerLink="..">
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
  <img priority ngSrc="assets/imgs/logo.svg" alt="Logo" height="120" width="100"/>
  <h2 *ngIf="!token"> Recuperar contraseña </h2>
  <h2 *ngIf="token"> Cambiar contraseña </h2>

  <form
    novalidate
    [formGroup]="!token ? emailForm! : passwordForm!"
    (ngSubmit)="!token ? sendForgotPassword() : changePassword()"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <mat-form-field *ngIf="!token && emailForm">
      <mat-label>{{ 'LoginComponent.Email-label' | translate }}</mat-label>
      <input
        matInput
        placeholder="{{ 'LoginComponent.Email-placeholder' | translate }}"
        type="email"
        formControlName="email"
        name="email"
        required
      />
      <mat-error *ngIf="emailForm.controls['email'].hasError('required')">
        Email requerido
      </mat-error>
      <mat-error *ngIf="emailForm.controls['email'].hasError('email')">
        Email inválido
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="passwordForm">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      />

      <mat-error *ngIf="passwordForm.controls['password'].invalid">
        La contraseña es requerida
      </mat-error>
    </mat-form-field>
    <!--      Repeat password-->
    <mat-form-field *ngIf="passwordForm">
      <mat-label>Repetir contraseña</mat-label>
      <input
        matInput
        placeholder="Repetir contraseña"
        formControlName="repeatPassword"
        type="password"
      />
      <div>
      </div>
    </mat-form-field>
    <div *ngIf="passwordForm">

      <span class="error" *ngIf="passwordForm.hasError('mismatchedPasswords') && passwordForm.get('repeatPassword')?.touched">
      Las contraseñas no coinciden.
    </span>
    </div>
    <span fxFlexAlign="center">
      <button
        
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]=
          "(emailForm!==undefined && emailForm!.invalid) ||
          (passwordForm!==undefined && passwordForm!.invalid)"
      >
        Enviar
      </button>
    </span>
  </form>


</mat-card>
